.navbar_logo {
  width: 200px;
  height: 200px;
}

.navbar_logo-mobile {
  width: 100px;
  height: 100px;
}

nav.navbar-mobile {
  display: "none";
}

@media (max-width: 960px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }
}
@media (min-width: 960px) {
  .navbar {
    display: block;
  }

  .navbar-mobile {
    display: none;
  }
}
